<style type="text/css">
    /*@#include#(codeStyles.css)*/
    /*@#include#(taskStyles.css)*/
</style>


<div id="${{{qid}}}_questionDiv">
<!--
<h2> Sum this numbers! </h2>

<p id="${{{qid}}}_task">
    Numbers
</p>


<input id="${{{qid}}}_inputBox" title="input" type="number" >

-->
    <div id="${{{qid}}}_taskDescDiv" class="taskDescription">
        <p onclick="qGlobalObject('${{{qid}}}', 'gObj').toggleElement('${{{qid}}}_taskDesc')" class="headerStyle">
            Izgradnja BSP stabla</p>
        <p class="textStyle" id="${{{qid}}}_taskDesc">
            Izgradite BSP stablo na temelju prikazane scene.
  
        </p>
    </div>

    <div class="taskHTU" id="${{{qid}}}_htu">
        <p class="headerStyle" onclick="qGlobalObject('${{{qid}}}', 'gObj').toggleElement('${{{qid}}}_htuDesc')"
           id="${{{qid}}}_htuHeader">Upute</p>
        <p class="textStyle" id="${{{qid}}}_htuDesc">
            Stablo se gradi tako da se klikne tipka 'Dodaj', klikne zeljeni brid,
            te se klikom odabere cvor stabla(desno) koji ce predstavljati odabrani brid.
            Na pocetku se u stablu nalazi samo korijen(mali kruzic). Bridovi se takoder mogu i
            sjeci na odredenim mjestima, sto se postize klikom na 'Sjeci' i potom na neku od crvenih 
            tockica na bridu(na njima je brid moguce sjeci).
            U slucaju da zelite zapoceti ponovno koristite tipku 'Resetiraj'.
            
        </p>
        <span id=${{{qid}}}_t_a>a</span>
        
    </div>
    <hr>
    <div align="left">
        <button>
            Dodaj
        </button>
        <button>
            Sjeci
        </button>
        <button>
            Resetiraj
        </button>

    </div>
    <hr>
    <div align="left">
        <canvas class="canvasStyle" id="${{{qid}}}_qC" width="450" height="570" tabindex="1">

        </canvas>
        <script lang="javascript" type="text/javascript">
            //var c = document.getElementById("${{{qid}}}_questionCanvas");
            //var ctx = c.getContext("2d");
            //ctx.moveTo(0,0);
            //ctx.lineTo(200,100);
            //ctx.stroke();
        </script>
        <canvas class="canvasStyle" id="${{{qid}}}_answerCanvas" width="450" height="570" tabindex="1">
            
        </canvas>
    </div>
    <hr>





</div>