/* Description style */
div.taskDescription {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 4px 12px;
}

/* How to use style */
div.taskHTU {
    background-color: #e7f3fe;
    border-left: 6px solid #f34ec6;
    margin-bottom: 5px;
    padding: 4px 12px;
}

p.headerStyle {
    font: 20px Century Schoolbook, Times New Roman, Times, serif;
    font-weight: bold;
}
canvas.canvasStyle{
    border:1px solid;
    border-color:  #2196F3;
}
